 .menu-item {
     display: flex;
     align-items: center;
     cursor: pointer;
 }

 .avatar {
     border-radius: 50%;
     cursor: pointer;
 }

 .menu-item img {
     width: var(--tam-icono);
     height: var(--tam-icono);
 }

 .boton {
     padding: 5px;
     cursor: pointer;
     border: solid #fafafa 1px;
     border-radius: 8%;
 }